body {
    background-color: #c0c0c0;
    color: #1D3C78;
}
h2, h3, h4 {
    font-family: 'Anton', sans-serif;
    text-shadow: 3px 3px 3px white
}
p {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
    margin: 20px 20px 20px 20px;
}
header {
    background: url(imagens/logo\ Los\ Santos\ Customs.webp) no-repeat center;
    height: 100vh;
}
#introducao {
    text-align: center;
}
#introducao h2 {
    font-size: 45px;
}
#nosso-mecanico {
    text-align: center;
}
#nosso-mecanico h3 {
    font-size: 45px;
}
#nosso-mecanico h4 {
    font-size: 30px;
}
#mecanico {
    width: 100%;
    max-width: 350px;
    height: 530px;
    border: solid 1px gray;
    border-radius: 10px;
    box-shadow: 5px 3px 100px #1D3C78;
    margin: 20px auto 20px auto;
}
#oficina {
    text-align: center;
}
#oficina h3 {
    font-size: 45px;
}
#interior {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
#interior img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
#servicos h3 {
    text-align: center;
    font-size: 45px;
}
#servicos ul {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    background: #1D3C78;
    box-shadow: 5px 3px 100px #1D3C78;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    height: auto;
    animation: balancar 3s ease-in-out infinite;
    color: black;
    text-shadow: 2px 5px 10px white
}
#servicos ul li {
    font-size: 25px;
    margin: 5px 0;
    color: #fdfdfd;
}
@keyframes balancar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
#tunagens {
    text-align: center;
}
#tunagens h3 {
    font-size: 45px;
}
#galeria {
    border: solid 2px white;
    border-radius: 20px;
    box-shadow: 5px 3px 100px #1D3C78;
    color: white;
    background-color: #1D3C78;
    margin-bottom: 50px;
    width: 100%;
    max-width: 200px;
    height: 100px;
    font-size: 20px;
    animation: balancar 3s ease-in-out infinite;
}
.carros-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    
}
#carros.ativo {
    height: 600px;
}
#carros {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.imgcarros {
    min-width: 100%;
    box-sizing: border-box;
}
.imgcarros p {
    font-size: 50px;
}
#carros img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    border: solid 3px #1D3C78;
    border-radius: 20px;
    box-shadow: 8px 3px 20px #1D3C78;
}
#proximo, #anterior {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: #1D3C78;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}
#anterior {
    left: -100px;
}

#proximo {
    right: -100px;
}
footer {
    background: url(imagens/Icone\ Los\ Santos\ Customs.webp) no-repeat center;
    background-color: #1D3C78;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: -1;
}
#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    z-index: 10;
}
button {
    cursor: pointer;
    background: none;
    border: none;
}
#whatsapp {
    font-size: 60px;
    color: #fdfdfd;
    border-radius: 10px;
    padding: 20px;
}
#whatsapp:hover {
    background-color:#25D366;
    color: #fdfdfd;
}
#instagram {
    font-size: 60px;
    color: #fdfdfd;
    border-radius: 10px;
    padding: 20px
}
#instagram:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}
#final {
    text-align: center;
    margin-bottom: 100px;
}
#final h3 {
    font-size: 45px;
}
@media (max-width: 768px) {
    header {
        background: url(imagens/Icone\ Los\ Santos\ Customs.webp) no-repeat center;
    }
    #servicos ul {
        box-shadow: 5px 3px 100px rgba(255, 255, 255, 0.3);
        padding: 40px;
        width: 100%;
        max-width: 350px;
        height: auto;
    }
    #servicos ul li {
        font-size: 25px;
        margin: 5px 0;
        padding: 10px;
        border-radius: 20px;
    }
    #interior {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
    }
    #carros img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }
    #carros.ativo {
        height: 450px;
    }
    #anterior {
        left: -10px;
    }

    #proximo {
        right: -10px;
    }
}
@media (max-width: 480px) {
    .imgcarros {
    display: block;
    align-items: center;
    text-align: center;
}
.imgcarros p {
    font-size: 30px;
    margin-top: -150px;
}
    #servicos ul {
        box-shadow: 5px 3px 100px rgba(255, 255, 255, 0.3);
        padding: 40px;
        width: 100%;
        max-width: 300px;
        height: auto;
    }
    #servicos ul li {
        font-size: 25px;
        margin: 5px 0;
        padding: 10px;
        border-radius: 20px;
    }
    #interior {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
    }
    #carros img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
    #carros.ativo {
        height: 400px;
    }
    #anterior {
        left: -10px;
    }

    #proximo {
        right: -10px;
    }
}